In [1]:
import pandas as pd

In [53]:
NY_transition = pd.read_csv("NY_transition.csv")
covid = pd.read_csv("covid_data.csv")
statelatlong = pd.read_csv("statelatlong.csv")

In [46]:
NY_transition.head()

  STATE_PRE STATE       LEX     DATE
0        NY    AK  0.002209  1/20/20
1        NY    AL  0.007910  1/20/20
2        NY    AR  0.007082  1/20/20
3        NY    AZ  0.004416  1/20/20
4        NY    CA  0.005377  1/20/20

In [47]:
covid.head()

  state     date  Population  deaths  confirmed
0    AK  1/22/20      731545       0          0
1    AK  1/23/20      731545       0          0
2    AK  1/24/20      731545       0          0
3    AK  1/25/20      731545       0          0
4    AK  1/26/20      731545       0          0

In [48]:
NY_merge = pd.merge(NY_transition, covid, how="inner", left_on=['STATE','DATE'], right_on=['state','date'])

In [54]:
NY_merge = pd.merge(NY_merge, statelatlong, how='inner', left_on='state', right_on='State')

In [55]:
NY_merge.head()

,STATE_PRE,STATE,LEX,DATE,state,date,Population,deaths,confirmed,State,Latitude,Longitude,City
0,NY,AK,0.001962,1/22/20,AK,1/22/20,731545,0,0,AK,61.302501,-158.77502,Alaska
1,NY,AK,0.002272,1/23/20,AK,1/23/20,731545,0,0,AK,61.302501,-158.77502,Alaska
2,NY,AK,0.002083,1/24/20,AK,1/24/20,731545,0,0,AK,61.302501,-158.77502,Alaska
3,NY,AK,0.001569,1/25/20,AK,1/25/20,731545,0,0,AK,61.302501,-158.77502,Alaska
4,NY,AK,0.001417,1/26/20,AK,1/26/20,731545,0,0,AK,61.302501,-158.77502,Alaska

In [59]:
NY_merge = NY_merge.drop(['state','State','City'],axis=1)

In [60]:
len(NY_merge)

3366

In [61]:
NY_merge.to_csv("NY_merge.csv")